// @media(min-width:421px) {

#login-background {
    border-radius: 20px;
    background-color: rgb(238 248 254);
    // max-width: 990px;
    // width: 95%;
    // max-height: 500px;
    // height: 70%;
    height: 500px;
    max-width: 850px;
    width: 96%;
    position: relative;
    display: flex;
    align-items: flex-end;
    animation: login-move 1.5s none;

}


#login {
    // position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ff7700;


}


#login-field {
    border-radius: 20px;
    // position: absolute;
    height: 100%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 300px;
    // max-width: 300px;
    min-width: 300px;
    background-color: rgb(255, 255, 255);
    padding: 40px;
}




#login-background-img img {
    max-width: 100%;
    max-height: 100%;

}

#login-background-img {
    width: 100%;
    max-width: 100%;
    max-height: 100%;

}





@media(max-width:450px) {
    #login-background-img img {
        display: none;
    }

    #login-field {
        min-width: 270px;
    }


}

// @media(min-width:810px) {
//     #login img {
//         bottom: 0px;
//         max-width: 100%;
//         max-height: 100%;
//         position: absolute;
//         bottom: 0px;
//     }

// }


// @media(max-width:810px) {
//     #login img {
//         bottom: 0px;
//         max-width: 50%;
//         max-height: 100%;
//         position: absolute;
//         bottom: 0px;
//     }

// }

// @media(max-width:600px) {
//     #login img {
//         bottom: 0px;
//         max-width: 30%;
//         max-height: 100%;
//         position: absolute;
//         bottom: 0px;
//     }

// }

// @media(max-width:450px) {
//     #login img {
//         bottom: 0px;
//         max-width: 30%;
//         max-height: 100%;
//         position: absolute;
//         bottom: 0px;
//         display: none;
//     }

// }

@keyframes login-move {
    0% {
        top: -300px;
        // opacity: 0;
        box-shadow: 0px 0px 100px 10px;
    }


    60% {
        top: 10px;
        // opacity: 0.75;
        box-shadow: 0px 0px 100px 10px;
    }

    100% {
        top: 0px;

        box-shadow: 0px 0px 0px 0px;
    }
}

// }



// @media(min-width:992) {}