@import '_theme.scss';
@import '_navBar.scss';
@import 'base';
@import 'homePage';
@import 'fonts';
@import '_login';

body {
    padding: 0px;
    margin: 0px;
    --radius: 10px;
    font-family: 'Vazir', Arial, sans-serif !important;
    font-weight: normal;
    background-color: var(--primary) !important;
}

.body {
    // background-color: var(--primary);
    color: var(--textColor);
    // height: 200vh;
    margin-top: 59px;
    padding-top: 15px;
}

html {
    background-color: var(--primary);
}

.end-page {
    padding: 0px;
    margin: 0px;
    font-weight: normal;
    background-color: var(--endPage);
    // min-height: 90vh;
    width: 100%;
    margin-top: 100px;
}