
@media only screen and (max-height: 900px) {
    .home-image{
        height: 200px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0  20px 0;
      }
}
@media only screen and (max-height: 600px) {
    .home-image{
        height: 30px;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0  20px 0;
      }
      .navbar{
        display: none;
      }
}